.statusbar_container {
    height: 120px;
    width: 615px;
    background-color: white;
    border: 1px solid #dbdbdb;
    margin-top: 25px;
    display: flex;
}

.statusbar_container::-webkit-scrollbar {
    display: none;
}

.statusbar_status {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-position: center;   
    background-size: cover;
    border: 3px solid #DF3958;
}

.status {
    margin: 25px 18px;
}

.statusbar_text {
    font-size: 12px;
    max-width: 60px;
    overflow-x: hidden;
    text-align: center;
    color:black;
}

.post_reactimage {
    width: 25px;
    margin: 5px;
}

.statusbar__upload {
    margin: 25px 10px 30px 30px;
}

.fileupload > input {
    display: none;
}

.upload_button{
    margin: 40px;
    background-color: #f05d38;
    color: white;
    font-weight: 400;
    padding: 10px 40px;
    border: 0px;
    height: 40px;
    border-radius: 5px;
}

.upload_textbox{
    position: absolute;
    width: 80%;
    min-height:fit-content;
    text-align: center;
    bottom: 120px;
    opacity: 0.6;
    font-weight: 500;
    color: black;
    left: 60px;
    right: 60px;
    background-color: #e3dedee5;
}

.upload_preview{
    padding: 0px;
    margin-top: 50px;
    height: 500px;
    width: 600px;
    background-size: cover;
}

.upload_header{
    font-size: 15px;
    color: white;
    font-weight: 600;
    text-align: left;
    padding: 15px;
    position: absolute;
    top: 0px; 
    width: 100%;
    min-height: 30px;
    background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar{
    display: none;
}

.edit_textbox{
    border-bottom: rgb(173, 172, 172);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    position: absolute;
    width: 80%;
    min-height:fit-content;
    text-align: center;
    bottom: 120px;
    font-weight: 500;
    background-color: white;
    color: black;
    left: 60px;
    right: 60px;
}

/* .upload_dialogbox{
    background-image: url();
} */

.edit_add_textbox {
    border-bottom: rgb(173, 172, 172);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    position: absolute;
    width: 80%;
    min-height:fit-content;
    text-align: center;
    bottom: 130px;
    font-weight: 500;
    background-color: white;
    color: black;
    left: 60px;
    right: 60px;
}
